.container{
    max-width: 2500px !important;
}
.center{
    /*min-height: 78vh !important;*/
    min-height: calc(76vh + 1rem) !important;/*EZT MAJD PONOSÃTANI KELL*/
}
.row, .row>* {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.sarok{
    width:15vw;
}
.oszlop_bal{
    width:15vw !important;
    display: flex;
    flex-direction: column;
}
.oszlop_bal_elem {
    flex-grow: 1;
}
.oszlop_jobb{
    width:15vw !important;
    display: flex;
    flex-direction: column;
}
.oszlop_jobb_elem {
    flex-grow: 1;
}
.oszlop_kozep{
    /*width:fit-content!important;*/
}
@media only screen and (max-width: 900px) {
    .sarok{
        width:10vw;
    }
}

.mezo_nev{
    font-size: 10px;
}
.mezo_ar{
    font-size: 8px;
}



.bottom_info 
{

    height: auto;
}
.bottom_info p
{
    color:azure;
    justify-self:end;
    font-size: 12px;
}
